<style>
  .mdl-card__title{
    height: 200px;
    background: url("../images/van2.jpg") center/cover;
    color: lavender;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
</style>

<div class = "mdl-grid">
  <div class = "mdl-cell mdl-cell--3-col"></div>
  <div class = "mdl-cell mdl-cell--2-col">
    <div id = "tester"></div>
  </div>
  <div class = "mdl-cell mdl-cell--4-col">
    <div class="mdl-card">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{projectContent}} Weather Forecast</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>{{time}} Last Check <br>
        {{temp}} Degrees Celsius<br>
        {{cloudCoverage}}% CLOUD Coverage<br>
        {{rain}} PRECIPITATION (VOL in past 3 hours)</p>
      </div>
    </div>
  </div>
  <div class = "mdl-cell mdl-cell--3-col"></div>
</div>

<div class = "mdl-grid">
  <div class = "mdl-cell mdl-cell--3-col"></div>
  <div class = "mdl-cell mdl-cell--6-col">
    <div id = "news">
    </div>
  </div>
  <div class = "mdl-cell mdl-cell--3-col"></div>
</div>


<div class = "mdl-grid">
  <div class = "mdl-cell mdl-cell--3-col"></div>
  <div class = "mdl-cell mdl-cell--6-col">
    <div id = "cl">
    </div>
  </div>
  <div class = "mdl-cell mdl-cell--3-col"></div>
</div>

<div class = "mdl-grid">
  <div class = "mdl-cell mdl-cell--3-col"></div>
  <div class = "mdl-cell mdl-cell--6-col">
    <div id = "reddit"></div>
  </div>
  <div class = "mdl-cell mdl-cell--3-col"></div>
</div>

<script type = "text/javascript" src = "/views/js/index.js"></script>
