<style>
  .mdl-card__title{
    height: 200px;
    background: url("../images/van2.jpg") center/cover;
    color: lavender;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }
</style>

<div class = "mdl-grid">
  <div class = "mdl-cell mdl-cell--3-col"></div>
  <div class = "mdl-cell mdl-cell--2-col">
    <div id = "tester"></div>
  </div>
  <div class = "mdl-cell mdl-cell--4-col">
    <div class="mdl-card">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{projectContent}} Weather Forecast</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>{{time}} Last Check <br>
        {{temp}} Degrees Celsius<br>
        {{cloudCoverage}}% CLOUD Coverage<br>
        {{rain}} PRECIPITATION (VOL in past 3 hours)</p>
      </div>
    </div>
  </div>
  <div class = "mdl-cell mdl-cell--3-col"></div>
</div>

<div class = "mdl-grid">
  <div class = "mdl-cell mdl-cell--3-col"></div>
  <div class = "mdl-cell mdl-cell--6-col">
    <div id = "news">
    </div>
  </div>
  <div class = "mdl-cell mdl-cell--3-col"></div>
</div>


<div class = "mdl-grid">
  <div class = "mdl-cell mdl-cell--3-col"></div>
  <div class = "mdl-cell mdl-cell--6-col">
    <div id = "cl">
    </div>
  </div>
  <div class = "mdl-cell mdl-cell--3-col"></div>
</div>

<div class = "mdl-grid">
  <div class = "mdl-cell mdl-cell--3-col"></div>
  <div class = "mdl-cell mdl-cell--6-col">
    <div id = "reddit"></div>
  </div>
  <div class = "mdl-cell mdl-cell--3-col"></div>
</div>




<script type = "text/javascript">
$(document).ready(function(){
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      console.log(position.coords.latitude);
      console.log(position.coords.longitude);
      $.post("/", {lat: position.coords.latitude, long: position.coords.longitude}, function(data){

        $("#tester").append(
          $("<div/>", {class: "mdl-card mdl-shadow--2dp"}).append(
              $("<div/>", {class: "mdl-card__title"}).append(
                $("<h2/>", {class: "mdl-card__title-text", text: data.temp.temp}).append(
                  $("<span/>", {text: " Degrees Celsius"})
                )
              )
            ).append(
              $("<div/>", {class: "mdl-card__supporting-text", text: data.weather[0].description})
            ).append(
              $("<div/>", {class: "mdl-card__actions mdl-card--border"}).append(
                $("<a/>", {class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect",
                          text: data.wind.speed}).append(
                            $("<span/>", {text: "m/s"})
                          )
              )
            ).append(
              $("<div/>", {class: "mdl-card__menu"}).append(
                $("<button/>", {class: "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"}).append(
                  $("<i/>", {class: "material-icons", text: "places"})
                )
              )
            )
          );


      });
    });
  }

  $.get("/news", function(data){
    console.log(data);

    $("#news").append(
      $("<table/>", {id: "newslist", class: "mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"}).append(
        $("<tbody/>", {id: "newslistcontainer"})
      )
    );

    for(var i = 0; i < data.length; i++){
      console.log(data[i].title);
      $("#newslistcontainer").append(
        $("<tr/>").append($("<td/>").append(
          $("<a/>", {href: data[i].url, target: "_blank",text: data[i].title})
        ))
                  .append($("<td/>", {text: data[i].source}))
                  .append($("<td/>", {text: data[i].updatedAt})));
    }

  });

  $.get("/cl", function(roomlistings){
    //console.log(roomlistings);

    $("#cl").append(
      $("<table/>", {id: "cllist", class: "mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"}).append(
        $("<tbody/>", {id: "cllistcontainer"})
      )
    );

    for(var i = 0; i < roomlistings.length; i++){
      $("#cllistcontainer").append(
        $("<tr/>").append($("<td/>", {text: roomlistings[i].title})).append($("<td/>", {text: roomlistings[i].price}))
      )
    }
  });

  $.get("/reddit", function(threads){
    $("#reddit").append(
      $("<table/>", {id: "redditlist", class: "mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"}).append(
        $("<tbody/>", {id: "redditlistcontainer"})
      )
    );

    threads.map(function(indivThread){
      var time = new Date(indivThread.time_created*1000).toLocaleString();
      $("#redditlistcontainer").append($("<tr/>")
        .append($("<td/>")
        .append($("<a/>", {href: "http://reddit.com"+indivThread.thread_link, text: indivThread.thread_title.substring(0,77)})))
        .append($("<td/>", {text: time})));
    });
    console.log(threads);
  });
});

</script>
